<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624422134230-ekdddnd9koo14n28n56isrcusa145l7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624422134230-ekdddnd9koo14n28n56isrcusa145l7i</string>
	<key>API_KEY</key>
	<string>AIzaSyCbtHxDOS_MBbwKeGeewPdaiaO-mevUb94</string>
	<key>GCM_SENDER_ID</key>
	<string>624422134230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-bf43e</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-bf43e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624422134230:ios:81b649bc45f0d8e4860477</string>
</dict>
</plist>